@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about {
  background: url(../Arizone/IMG/slide_3.jpg) no-repeat left;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-section {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 140px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.inner-section h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;

  /*margin-bottom: 40px;*/
}

.skills button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  padding: 7px;
  width: 200px;
  background-color: orange;
  color: #f1f1f1;
  cursor: pointer;
}

.skills button:hover {
  transition: 1s;
  background-color: orange;
  color: #f1f1f1;
  border: none;
}

@media screen and (max-width: 1200px) {
  .inner-section {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-section {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }
  .inner-section {
    padding: 60px;
  }
  .skills button {
    font-size: 14px;
    padding: 10px;
    width: 150px;
  }
}
